*{
    font-family: "Segoe UI";
    font-weight: 'Regular';
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    color: #316CC4;
}
::-webkit-scrollbar{display:none;}
body{
    margin:0;
    padding: 0;
    background-color:white;
    height: 100vh;
}
.cover{background-size: cover;background-repeat: no-repeat;}
a{text-decoration: none; cursor: default; color:#648EE6;}
/* Header-Start */
.header{
    display: flex;
    position: fixed;
    top:0;
    z-index: 10;
    width: 100%;
    height: 70px;
    background-color: #316CC4;
    box-shadow: 0 2px 2px #316CC4;
    align-items: center;
}
.linkler {
    display: flex;
    flex-flow: row;
    margin-left: 30px;
}
.linkler li{list-style-type: none;}
.linkler li a{
    margin-right:30px ;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    padding: 3px 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.2s ease-in-out;
    cursor: pointer;
}
.linkler li a:hover{
    border-bottom: 2px solid #FFFFFF;
}
.linkler .active a{
    border-bottom: 2px solid #FFFFFF;
}
/* Username-Start */
.show{
    font-size:17px;
    color:white;    
    line-height: 25px;
    cursor: pointer;
}
input[type=checkbox] {
    position: absolute;
    top: -999px;
    left: -999px;
}
.hidden{
    position: absolute;
    right: 0; 
    width: 80px;
    height:0;
    visibility:hidden;
    overflow:hidden;
    background-color:white;
    border-radius: 3px;
    transition:all 0.5s ease-in-out;
    z-index: 1; 
}
.hidden a:hover{
    background-color:#D6E9ED;
    font-size:17px;
}
.hidden a{
    display:block;
    line-height: 23px;
    text-decoration: none;
    color:#648EE6;
    font-size: 15px;
    border: none;
}
.USN li{cursor: default;}
input[type=checkbox]:checked ~.hidden{
    visibility: visible;
    height:46px;
 }
.USN{
    list-style-type: none;
    position:absolute;
    right:80px;
}
.usrImg{
    display:inline-block;
    position: absolute;
    border-radius: 100%;
    right: 30px;
    width: 45px;
    height: 45px;
 }
.SUBheader{width: 0;height: 0;}
 @media only screen and (max-width:760px){
    .header{height: 70px;    }
    .linkler {margin-left: 20px; }
    .linkler li a{
        margin-right:20px ;
        font-size: 15px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
    .linkler li a:hover{border-bottom: 2px solid #FFFFFF; }
    .linkler .active a{border-bottom: 2px solid #FFFFFF;  }
    .show{font-size:17px;line-height: 22px;}
    .hidden{width: 75px;}
    .hidden a:hover{font-size:14px;}
    .hidden a{line-height: 22px; font-size: 15px;}
    input[type=checkbox]:checked ~.hidden{ height:44px;}
    .USN{right:60px; }
    .usrImg{
        right: 10px;
        width: 42px;
        height: 42px;
     }
}

 @media only screen and (max-width:660px){
    .header{height: 50px;}
    .linkler {margin-left: 15px;}
    .linkler li a{
        margin-right:10px ;
        font-size: 13px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
    .linkler li a:hover{border-bottom: 2px solid #FFFFFF; }
    .linkler .active a{border-bottom: 2px solid #FFFFFF;  }
    .show{font-size:15px;line-height: 22px;}
    .hidden{width: 60px;}
    .hidden a:hover{font-size:11px;}
    .hidden a{line-height: 17px; font-size: 12px;}
    input[type=checkbox]:checked ~.hidden{ height:34px;}
    .USN{right:55px; }
    .usrImg{
        right: 8px;
        width: 40px;
        height: 40px;
     }
     .SUBheader{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50px;
        width: 100%;
        height: 30px;
        background-color: rgba(49, 108, 196, .5);
    }
    .sub{display: flex;justify-content: space-between;width: 170px;margin: 0;}
    .sub li a{margin: 0;padding: 0 2px 3.5px 2px}
    .linkler .active1 a{border-bottom: 2px solid #FFFFFF;}
}

 @media only screen and (max-width:500px){
    .header{height: 45px;}
    .linkler {margin-left: 14px;}
    .linkler li a{
        margin-right:5px ;
        font-size: 10px;
        padding: 1px 2px ;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0);
    }
    .linkler li a:hover{border-bottom: 1.5px solid #FFFFFF; }
    .linkler .active a{border-bottom: 1.5px solid #FFFFFF;  }
    .show{font-size:12px;line-height: 22px;}
    .hidden{width: 50px;margin-top: -5px;}
    .hidden a:hover{font-size:9px;}
    .hidden a{line-height: 14px; font-size: 10px;}
    input[type=checkbox]:checked ~.hidden{ height:28px;}
    .USN{right:50px; }
    .usrImg{
        right: 8px;
        width: 37px;
        height: 37px;
     }
     .SUBheader{
        top: 45px;
        height: 30px;
        background-color: rgba(49, 108, 196, .5);
    }
    .sub{width: 150px;}
    .sub li a{padding: 0 2px 3.5px 2px;font-size: 12px;}
    .linkler .active1 a{border-bottom: 1.8px solid #FFFFFF;}
}

 @media only screen and (max-width:395px){
    .show{font-size:11px;}
    input[type=checkbox]:checked ~.hidden{ height:28px;}
    .USN{right:45px;}
    .linkler li a{border-bottom: 1.2px solid rgba(255, 255, 255, 0);}
    .linkler li a:hover{border-bottom: 1.2px solid #FFFFFF; }
    .linkler .active a{border-bottom: 1.2px solid #FFFFFF; }
    .usrImg{
        right: 5px;
        width: 35px;
        height: 35px;
     }
     .SUBheader{
        top: 45px;
        height: 25px;
        background-color: rgba(49, 108, 196, .5);
    }
    .sub{width: 150px;}
    .sub li a{padding: 0 2px 2.5px 2px;font-size: 11px;}
    .linkler .active1 a{border-bottom: 1.5px solid #FFFFFF;}
}


/* Username-End */
/* Header-End*/

.mainDIV{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    background-color: green;
    position: fixed;
}
/*Left side start*/
.left{
    width: 67%;
    height: 100vh;
    background-color: white;
    border-right: 2px solid #316CC4;
}
.length{width: 325px;}
.sozGozlemek{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 55%;
    height: 670px;
    overflow: hidden;
    overflow-x: visible;
}
.changer{
    align-items: center;
    width: 132.5px;
    height: 25px;
    background-size: cover;
    margin-top: 15px;
}
.changerENTM{background-image: url(../icons/EnTm.png);}
.changerTMEN{background-image: url(../icons/TmEn.png);}
.changer img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.sozGozlemek form{
    display: flex;
    flex-flow: row;
    height: 35px;
    width: 325px;
}
.inptSearch{
    height: 30px;
    width: 325px;
    color: #316CC4;
    font-size: 17px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #316CC4;
    padding: 0 35px 0 5px;
    outline: none;
}
.inptSearch::placeholder{color: #316CC4;}
.seachPNG{
    width: 27px;
    height: 27px;
    background: transparent url(../icons/search.png) no-repeat;
    background-size: cover;
    margin: 1px 0 0 -30px;
    cursor: pointer;
}
.searchedWord{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 325px;
    height: 238.54px;
    background-image: linear-gradient(rgba(228,228,255,20%), rgba(0,0,0,30%));
    margin-bottom: 5px;
    text-transform: lowercase;
}
.ENTM{
    height: 30px;
    width:325px;
    color: #316CC4;
    font-size: 20px;
    border-bottom: 2px solid #316CC4;
    line-height: 1.5;
    padding-left:5px ;
}
.britishFlag{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 325px;
    height: 178.54px;
    color: white;
    font-size: 24px;
    background-image: url(../icons/british.png);
    background-size: cover;
}
.SeenLikeIcons{
    display: flex;
    align-items: center;
    width: 325px;
    height: 20px;
    float: left;
    font-size: 16px;
}
.SeenLikeIcons img{margin-right: 5px;}
.SeenLikeIcons a{height: 25px;margin-left: 10px; line-height: 16px;}
.SeenLikeIcons .like{height: 18px;margin-bottom: -3px;}
.SeenLikeIcons .seen{height: 18px;margin-bottom: -2px;}
.sameWords{
    width: 325px;
    height: 200px;
    background-color: #DFDFFF;
    margin-bottom: 80px;
    overflow: hidden;
    overflow-y: visible;
}
.sameWord{
    height: 50px;
    font-size: 19px;
    line-height: 21px;
    padding-left: 10px;
    border-bottom: 2px solid #316CC4;
}
span{display: none;}

/*Left side END*/
/*middle START*/
.esasyUlanylyanSozler{
    float: right;
    width: 45%;
    height: 90vh;
    overflow: hidden;
    overflow-y: visible;
}
.EsasySoz{
    width: 100%;
    height: 130px;
    background-color: #DFDFFF;
    margin-bottom: 10px;
}
.EsasySoz .soz{
    padding-left: 5px;
    height: 35px;
    width: 85%;
    line-height: 3;
    text-align: left;
    border-bottom: 2px solid #316CC4;
    overflow: hidden;
    letter-spacing: -0.5px;
}
.EsasySoz .def{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50px;
    line-height: 1;
}
/*Middle END*/












/*Left side END*/
/*Right side started*/
.right{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 15px 0;
    width:33%;
    height: 100vh;
    background-color: #D6F8FF;
}
/*yOKARKY BOLEK START*/
.right form{
    display: flex;
    flex-flow: column;
    width: 84.4%;
    height: 235px;
    margin-bottom: 15px;
}
.Flag{
    width: 27.7px;
    height: 18px;
    margin: 7px -30px 0 0;
    z-index: 5;
}
.icons{
    display: flex;
    flex-flow: row;
    justify-content: center;
    
    height: 35px;
    width: 100%;
    margin:0;
    padding: 0;
}
.right input[type='text']{
    margin-bottom: 50px;
    font-size: 14px;
    height: 32px;
    width: 98.8%;
    padding-left: 32px;
    background-color:#D6F8FF;
    border-bottom: 2px solid #316CC4;
    outline: none;
}
.right input[type='text']::placeholder{
    color: #316CC4;
}
.right input[type='submit']{
    height: 35px;
    color: white;
    background-color: #316CC4;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #69A0EE;
    cursor: pointer;
}
.right input[type='submit']:active{
    transform: scale(0.98);
}
textarea::placeholder{
    color: rgba(49, 108, 196, .44);
}
textarea {
  height: 70px;
  padding: 2px 2px;
  border-radius: 1px;
  background-color: #DFDFFF;
  margin: 15px 0;
  font-size: 16px;
  resize: none;
  outline: none;
}
/*Right top ended*/
/*Right bottom started*/
.tassyklanmadyklaryn{
   width: 84.4%;
   height: 280px;
   overflow: hidden;
   overflow-y: visible;
}
.TassyklanmadykSoz{
    width: 100%;
    height: 125px;
    background-color: #DFDFFF;
}
.TassyklanmadykSoz .soz{
    width: 90%;
    height: 32px;
    padding-left: 5px;
    line-height: 2.5;
    text-align: left;
    border-bottom: 2px solid #316CC4;
}
.TassyklanmadykSoz .def{
    display: flex;
    justify-content: center;
    height: 55px;
    width: 75%;
    align-items: center;
    line-height: 1.1;
}
.linkIcon{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    align-items: left;

}
.linkIcon img{
    margin: 0 15px 0 5px;
    height: 25px;
}
.linkIcon a{cursor: pointer;}
/*umumy start*/
@media only screen and (max-width:900px){
    .mainDIV{
        margin-top: 70px;
        background-color: white;
    }
    /*Left side start*/
    .left{
        width: 67%;
        border-right: 1.8px solid #316CC4;
    }
    .length{width: 220px;}
    .sozGozlemek{
        width: 55%;
        height: 600px;
    }
    .changer{
        width: 111.3px;
        height: 21px;
        margin-top: 10px;
    }
    .changer img{
        width: 22px;
        height: 22px;
    }
    .sozGozlemek form{
        height: 35px;
        width: 220.258px;
    }
    .inptSearch{
        height: 30px;
        width: 220.258px;
        font-size: 16px;
        border-bottom: 1.8px solid #316CC4;
        padding: 0 35px 0 5px;
    }
    .seachPNG{
        width: 27px;
        height: 27px;
        margin: 1px 0 0 -30px;
    }
    .searchedWord{
        width: 220.258px;
        height: 171px;
        margin-bottom:0;
    }
    .ENTM{
        height: 25px;
        width: 220.258px;
        font-size: 16px;
        border-bottom: 1.8px solid #316CC4;
        line-height: 1.5;
        padding-left:5px ;
    }
    .britishFlag{
        width: 220.258px;
        height: 121px;
        font-size: 16px;
    }
    .SeenLikeIcons{
        width: 220.258px;
        height: 20px;
        font-size: 14px;
        margin-top: -8px;
    }
    .SeenLikeIcons img{margin-right: 5px;}
    .SeenLikeIcons a{height: 20px;margin-left: 10px; line-height: 16px;}
    .SeenLikeIcons .like{height: 16px;margin-bottom: -3px;}
    .SeenLikeIcons .seen{height: 15px;margin-bottom: -2px;}
    .sameWords{
        width: 220.258px;
        height: 200px;
        margin-bottom: 80px;
    }
    .sameWord{
        height: 40px;
        font-size: 16px;
        line-height: 18px;
        padding-left: 10px;
        border-bottom: 1.8px solid #316CC4;
    }
    /*Left side END*/
    /*middle START*/
    .esasyUlanylyanSozler{
        width: 45%;
        height: 90vh;
    }
    .EsasySoz{
        width: 100%;
        height: 86px;
        margin-bottom: 10px;
    }
    .EsasySoz .soz{
        padding-left: 5px;
        height: 20px;
        width: 85%;
        line-height: 18px;
        border-bottom: 1.8px solid #316CC4;
        font-size: 15px;
    }
    .EsasySoz .def{
        width: 85%;
        height: 45px;
        font-size: 14px;
        line-height: 15px;
    }
    /*Middle END*/





    /*Left side END*/
    /*Right side started*/
    .right{
        padding: 3px 0;
        width:33%;
    }
    /*yOKARKY BOLEK START*/
    .right form{
        width: 84.4%;
        height: 200px;
        margin-bottom: 15px;
    }
    .Flag{
        width: 24.622px;
        height: 16px;
        margin: 10px -28px 0 0;
    }
    .icons{  
        margin: 1px 0;      
        height: 30px;
        width: 100%;
    }
    .right input[type='text']{
        margin-bottom: 0;
        font-size: 13px;
        height: 32px;
        width: 98.8%;
        padding-left: 30px;
        border-bottom: 1.8px solid #316CC4;
    }
    .right input[type='submit']{
        height: 28px;
        font-size: 15px;
        line-height: 16px;
        border-radius: 2px;
        box-shadow: 1.5px 1.5px 4px #69A0EE;
    }
    textarea {
      height: 50px;
      padding: 1.5px 1.5px;
      border-radius: 1px;
      margin: 5px 0;
      font-size: 13px;
    }
    /*Right top ended*/
    /*Right bottom started*/
    .tassyklanmadyklaryn{
       width: 84.4%;
       height: 100%;
    }
    .TassyklanmadykSoz{height: 80px;}
    .TassyklanmadykSoz .soz{
        width: 90%;
        height: 20px;
        padding-left: 4px;
        font-size: 14px;
        line-height: 18px;
        border-bottom: 1.8px solid #316CC4;
    }
    .TassyklanmadykSoz .def{
        height: 40px;
        width: 90%;
        font-size: 13px;
        line-height: 14px;
    }
    .linkIcon{
        width: 100%;
        height: 25px;
        margin-top: 4px;
    }
    .linkIcon img{
        margin: 0 10px 0 4px;
        height: 22px;
    }
}
/*UMUMY end*/


/*sozluk responsive start*/
@media only screen and (max-width:660px){
    .mainDIV{
        width: 100%;
        height: 100%;
        margin-top: 80px;
    }
    /*Left start*/
    /*Left side start*/
    .left{width: 100%;height: 100%;border: none;}
    .length{width: 263.93px;}
    .sozGozlemek{width: 55%;height: 520px;}
    .changer{
        width: 106px;
        height: 20px;
        margin-top: 5px;
    }
    .changer img{width: 20px; height: 20px;}
    .sozGozlemek form{
        height: 40px;
        width: 263.93px;
    }
    .inptSearch{
        height: 30px;
        width: 263.93px;
        font-size: 15px;
        border-bottom: 2px solid #316CC4;
        padding: 0 35px 0 5px;
    }
    .seachPNG{
        width: 25px;
        height: 25px;
        margin: 1px 0 0 -30px;
    }
    .searchedWord{
        width: 263.93px;
        height: 205px;
        margin-bottom: 5px;
    }
    .ENTM{
        height: 30px;
        width: 263.93px;
        font-size: 16px;
        border-bottom: 2px solid #316CC4;
        line-height: 1.5;
        padding-left:5px ;
    }
    .britishFlag{
        width: 263.93px;
        height: 145px;
        font-size: 17px;
    }
    .SeenLikeIcons{
        width: 263.93px;
        height: 20px;
        font-size: 12px;
    }
    .SeenLikeIcons img{margin-right: 5px;}
    .SeenLikeIcons a{height: 25px;margin-left: 10px; line-height:0;}
    .SeenLikeIcons .like{height: 14px;margin-bottom: -3px;}
    .SeenLikeIcons .seen{height: 13px;margin-bottom: -2px;}
    .sameWords{
        width: 263.93px;
        height: 200px;
        margin-bottom:0;
    }
    .sameWord{
        height: 50px;
        font-size: 19px;
        line-height: 21px;
        padding-left: 10px;
        border-bottom: 2px solid #316CC4;
    }

    /*Left end*/
    /*Left side END*/
    /*middle START*/
    .esasyUlanylyanSozler{
        width: 45%;
        height: 90%;
        font-size: 13px;
    }
    .EsasySoz{
        width: 90%;
        height: 90px;
        margin-bottom: 10px;
    }
    .EsasySoz .soz{
        padding-left: 5px;
        height: 25px;
        width: 85%;
        line-height:30px;
        border-bottom: 1.8px solid #316CC4;
    }
    .EsasySoz .def{
        width: 85%;
        height: 35px;
        line-height: 1;
    }
/*Middle END*/
    .right { display: none; }

}
@media only screen and (max-width:500px){
    *{letter-spacing: -0.5px;}
    .mainDIV{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 80px;
        background-color: white;
    }
    /*Left start*/
    /*Left side start*/
    .left{
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;height: 100%;
        border: none;
    }
    .length{width: 364.04px;}
    .sozGozlemek{width: 364.04px;height: 450px;}
    .changer{
        width: 79.5px;
        height: 15px;
        margin: 0;
    }
    .changer img{width: 18px; height: 18px;}
    .sozGozlemek form{
        height: 40px;
        width: 364.04px;
    }
    .inptSearch{
        height: 30px;
        width: 364.04px;
        font-size: 15px;
        border-bottom: 2px solid #316CC4;
        padding: 0 35px 0 5px;
    }
    .seachPNG{
        width: 25px;
        height: 25px;
        margin: 1px 0 0 -30px;
    }
    .searchedWord{
        width: 364.04px;
        height: 260px;
        margin-bottom: 0;
    }
    .ENTM{
        height: 30px;
        width: 364.04px;
        font-size: 16px;
        border-bottom: 2px solid #316CC4;
        line-height: 1.5;
        padding-left:5px ;
    }
    .britishFlag{
        width: 364.04px;
        height: 200px;
        font-size: 17px;
    }
    .SeenLikeIcons{
        width: 364.04px;
        height: 35px;
        font-size: 12px;
        margin-bottom: 5px;
        margin: 0;
    }
    .SeenLikeIcons img{margin-right: 5px;}
    .SeenLikeIcons a{height: 25px;margin-left: 10px; line-height:0;}
    .SeenLikeIcons .like{height: 14px;margin-bottom: -3px;}
    .SeenLikeIcons .seen{height: 13px;margin-bottom: -2px;}
    .sameWords{
        width: 100%;
        height: 140px;
        margin-top: -10px;

    }
    .sameWord{
        height: 30px;
        font-size: 13px;
        line-height: 14px;
        padding-left: 10px;
        border-bottom: 1.5px solid #316CC4;
    }

    /*Left end*/
    /*Left side END*/
    /*middle START*/
    .esasyUlanylyanSozler{
        margin-top: 15px;
        width: 364.04px;
        height: 28%;//beyiklige gora sazlamaly
        font-size: 12px;
        background-color: #D6F8FF;
    }
    .EsasySoz{
        width: 90%;
        height: 80px;
        margin-bottom: 10px;
    }
    .EsasySoz .soz{
        padding-left: 5px;
        height: 20px;
        width: 85%;
        line-height:20px;
        border-bottom: 1.8px solid #316CC4;
    }
    .EsasySoz .def{
        width: 85%;
        height: 35px;
        line-height: 1;
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: -15px;
        width: 364.04px;
        background-color: #D6F8FF;
 
    }

}

@media only screen and (max-width:395px){
    .mainDIV{margin-top: 80px;}
    /*Left start*/
    /*Left side start*/
    .length{width: 300.333px;}
    .sozGozlemek{width: 300.333px;height: 420px;}
    .changer{
        width: 79.5px;
        height: 15px;
        margin: 0;
    }
    .changer img{width: 18px; height: 18px;}
    .sozGozlemek form{
        height: 35px;
        width: 300.333px;
    }
    .inptSearch{
        height: 27px;
        width: 300.333px;
        font-size: 13.5px;
        border-bottom: 1.5px solid #316CC4;
        padding: 0 35px 0 5px;
    }
    .seachPNG{
        width: 22px;
        height: 22px;
        margin: 4px 0 0 -30px;
    }
    .searchedWord{
        width: 300.333px;
        height: 209px;
        margin-bottom: 0;
    }
    .ENTM{
        height: 22px;
        width: 300.333px;
        font-size: 14px;
        border-bottom: 1.5px solid #316CC4;
        line-height: 1.5;
        padding-left:5px ;
    }
    .britishFlag{
        width: 300.333px;
        height: 165px;
        font-size: 17px;
    }
    .SeenLikeIcons{
        width: 300.333px;
        height: 30px;
        font-size: 11px;
        margin-bottom: 5px;
        margin: 0;
    }
    .SeenLikeIcons img{margin-right: 5px;}
    .SeenLikeIcons a{height: 25px;margin-left: 10px; line-height:0;}
    .SeenLikeIcons .like{height: 13px;margin-bottom: -3px;}
    .SeenLikeIcons .seen{height: 12px;margin-bottom: -2px;}
    .sameWords{
        height: 140px;
        margin-top: -10px;

    }
    .sameWord{
        height: 30px;
        font-size: 13px;
        line-height: 14px;
        padding-left: 10px;
        border-bottom: 1.5px solid #316CC4;
    }

    /*Left end*/
    /*Left side END*/
    /*middle START*/
    .esasyUlanylyanSozler{
        margin-top: 15px;
        width: 300.333px;
        height: 28%;//beyiklige gora sazlamaly
        font-size: 12px;
    }
    .EsasySoz{
        width: 90%;
        height: 80px;
        margin-bottom: 10px;
    }
    .EsasySoz .soz{
        padding-left: 5px;
        height: 20px;
        width: 85%;
        line-height:20px;
        border-bottom: 1.5px solid #316CC4;
    }
    .EsasySoz .def{
        width: 85%;
        height: 35px;
        line-height: 1;
    }
    span{
        margin-top: 10px;
        margin-bottom: -15px;
        font-size: 14px;
        width: 300.333px;
    }

}